<%= form_with(model: [@user, contact], local: true) do |f| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :birthday %>
    <%= f.date_field :birthday %>
  </div>

  <div>
    <%= f.fields_for :phones do |builder| %>
      <%= render "phone_fields", f: builder %>
    <% end %>
    <p><%= link_to_add_fields "Add Phone", f, :phones %></p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>